.secondary-button {
  background-color: transparent;
  color: var(--green-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--green-color);
  border-radius: var(--border-radius-small);
  -webkit-border-radius: var(--border-radius-small);
  -moz-border-radius: var(--border-radius-small);
  -ms-border-radius: var(--border-radius-small);
  -o-border-radius: var(--border-radius-small);
  cursor: pointer;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  text-transform: uppercase;
  font-weight: 700;
}

.secondary-button:hover {
  background-color: #333;
  border-color: #333;
  color: var(--green-color);
}
