.modal {
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 40%);
  position: fixed;
  top: -100%;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.modal.open {
  top: 0;
}

.modal .modal-content {
  background-color: var(--bg-dark);
  padding: 30px;
  border-radius: var(--border-radius-small);
  -webkit-border-radius: var(--border-radius-small);
  -moz-border-radius: var(--border-radius-small);
  -ms-border-radius: var(--border-radius-small);
  -o-border-radius: var(--border-radius-small);
  width: 400px;
  max-width: 90%;
  position: relative;
}

.modal .modal-content .product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: var(--gray-color);
  margin: 40px 0;
}

.modal .modal-content button {
  padding: 12px 0;
  width: 100%;
}

.modal .modal-content .secondary-button {
  margin-bottom: 15px;
}
