.contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact li a {
  color: white;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.contact li a span {
  margin-left: 6px;
  font-weight: 300;
}
