.close-button {
  position: absolute;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gray-color);
  color: var(--bg-dark);
  font-size: 18px;
  font-weight: 500;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
